.additional-goods {
  padding: 30px 20px 0;

  .title {
    color: @black;
    font-size: 24px;
    line-height: 1;
    font-weight: 400;

    margin-top: 0;
    margin-bottom: 35px;
  }
}

.additional-goods__list {
  list-style: none;

  margin-top: 35px;
  margin-bottom: 0;
  padding-left: 0;
}

.additional-goods__item {
  padding-top: 15px;
  padding-bottom: 20px;

  border-top: 1px solid @border-color-secondary;

  &:last-child {
    border-bottom: 1px solid @border-color-secondary;
  }
}

.additional-goods__title-item {
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 10px;
}

.additional-goods__description {
  display: flex;
  justify-content: space-between;

  font-family: @sub-font;
  font-size: 14px;

  margin-bottom: 15px;

  dd {
    margin-left: 0;
  }
}
