.address {
  background-color: @white;

  &--background {
    background-color: @grey;
  }
}

.address__description {
  display: flex;
  justify-content: space-between;

  padding: 30px 20px 35px;
}

.address__title {
  color: #111111;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;

  text-transform: uppercase;

  width: 50%;
  margin: 0;
}

.address__text {
  font-family: @sub-font;
  line-height: 1.4;

  width: 50%;
  margin: 0;
}

.address__map {
  height: 360px;

  iframe {
    width: 100vw;
    border: none;
  }
}
