.button {
  display: block;

  color: @white;
  font-family: @main-font;
  font-size: 16px;
  line-height: 18px;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  width: 100%;
  padding: 11px 0;

  background-color: @green;
  border: none;

  &:hover,
  &:focus {
    background-color: @button-hover;
  }

  &:active {
    color: @button-active;
  }
}

.button--secondary {
  color: @dark-grey;
  background-color: @grey;

  &:hover,
  &:focus {
    background-color: #ebebeb;
  }

  &:active {
    color: fade(@dark-grey, 30%);
  }
}

.button-text {
  display: block;

  color: @black;
  font-size: 16px;
  line-height: 16px;

  text-decoration: none;
  text-transform: uppercase;

  padding-top: 15px;

  border-top: 1px solid #D9D9D9;

  position: relative;

  &:active {
    opacity: .3;
  }
}
