.container {
  max-width: 1220px;
  margin: 0 auto;

  &--header {
    @media (min-width: @tablet-width) {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 24px 30px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 52px;
    }
  }

  &--questionnaire {
    @media (min-width: @tablet-width) {
      padding: 0 70px;
    }
  }

  &--catalog {
    @media (min-width: @tablet-width) {
      padding: 0 30px;
    }
  }
}
