.copyright {
  margin-top: 30px;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    margin-top: -4px;
  }
}

.copyright__link {
  display: block;

  color: @dark-grey;
  font-family: @sub-font;
  font-size: 16px;
  line-height: 1.125;

  text-decoration: none;
  padding-right: 50px;

  position: relative;

  &:hover .copyright__icon-academy,
  &:focus .copyright__icon-academy {
    color: @green;
  }

  @media (min-width: @tablet-width) {
    width: 165px;
    padding-right: 0;
  }
}

.copyright__icon-academy {
  color: #666666;
  transition: 0.2s;

  position: absolute;
  top: 50%;
  right: 0;

  transform: translateY(-50%);
}
