.footer-contacts {
  display: flex;
  flex-direction: column;

  padding: 40px 20px 30px;

  background-color: @grey;
}

.footer__copyright {
  margin-top: 30px;

  a {
    display: block;

    color: @dark-grey;
    font-family: @sub-font;
    font-size: 16px;
    line-height: 18px;

    text-decoration: none;
    position: relative;

    &:active {
      opacity: .3;
    }

    &:before {
      content: "";

      width: 27px;
      height: 34px;

      background-image: url(../img/logo/htmlacademy.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      position: absolute;
      top: 50%;
      right: 0;

      transform: translateY(-50%);
    }
  }
}
