.footer-contacts {
  padding: 35px 20px 30px;
  background-color: @grey;

  .container {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @tablet-width) {
    padding: 53px 30px 60px;

    .container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 57px;
  }
}
