.form {
  font-size: 16px;
  line-height: 1.125;

  margin-top: 40px;

  legend {
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1.5;
    margin-top: 65px;
  }
}

.form__container {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 80px;

    .form__group {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.form__group {
  margin: 25px 0 30px;
  padding: 0 20px;

  border: none;

  &--border {
    padding-top: 30px;
    padding-bottom: 25px;

    border-top: 1px solid @border-color;
    border-bottom: 1px solid @border-color;
  }

  @media (min-width: @tablet-width) {
    margin-top: 65px;
    margin-bottom: 65px;
    padding-left: 0;
    padding-right: 0;

    &--border {
      margin-top: 70px;
      margin-bottom: 75px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 30px;

      border: 1px solid @border-color;
    }

    &--margin {
      margin-bottom: 60px;

      .form__title {
        margin-bottom: 60px;
      }
    }
  }
}

.form__box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    &--margin {
      margin-bottom: 0;
    }
  }
}

.form__title {
  color: @black;
  font-size: 24px;
  line-height: 1.1;

  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    margin-bottom: 75px;
  }
}

.form__label {
  text-transform: uppercase;
}

.form__input {
  flex-grow: 1;
  color: @dark-grey;
  font-family: @main-font;
  text-transform: uppercase;

  margin-left: 15px;
  padding: 12px 15px;

  border: 1px solid #e7e7e7;
  transition: 0.2s;

  &::placeholder {
    color: @dark-grey;
    opacity: 1;
  }

  &:hover {
    border-color: @border-color-secondary;
  }

  &:focus {
    border-color: @dark-grey;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.form__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 45px;

  list-style: none;

  @media (min-width: @tablet-width) {
    padding-left: 60px;
  }
}

.form__option {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__input-field {
  flex-grow: 1;
  margin-left: 15px;
  position: relative;

  .form__input {
    width: 100%;
    padding-right: 40px;
    margin-left: 0;
    box-sizing: border-box;
  }

  &:focus-within .form__icon {
    color: @green;
  }
}

.form__icon {
  position: absolute;
  top: 50%;
  right: 20px;

  transform: translateY(-50%);

  &--phone {
    right: 17px;
  }
}

.form__message {
  min-width: 100%;
  height: 150px;
  margin: 0;
  padding: 10px 12px 10px 15px;

  box-sizing: border-box;
  resize: none;

  &::placeholder {
    opacity: 1;
  }

  @media (min-width: @tablet-width) {
    padding: 10px 20px;
    height: 174px;
  }
}

.form__option .form__label {
  cursor: pointer;
  position: relative;
}

.form__option .form__label::before,
.form__option .form__label::after {
  content: "";

  position: absolute;
  top: 50%;
  left: -45px;

  transform: translateY(-50%);
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    left: -60px;
  }
}

.form__option .form__label::before {
  width: 30px;
  height: 30px;

  border: 1px solid @border-color-secondary;
  transition: 0.2s;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form__option-input:hover + .form__label::before,
.form__option-input:focus + .form__label::before {
  border-color: #bababa;
}

.form__option-input:disabled + .form__label {
  opacity: 0.3;
}

.form__list--radio {
  color: #222222;

  .form__label::before {
    border-radius: 50%;
  }
}

.form__input-radio:checked + .form__label::after {
  width: 14px;
  height: 14px;

  background-color: @green;
  border-radius: 50%;
  left: -37px;

  @media (min-width: @tablet-width) {
    width: 18px;
    height: 18px;
    left: -49px;
  }
}

.form__list--checkbox {
  color: @black;
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px 60px;

    padding-left: 0;

    .form__option {
      margin-bottom: 0px;
      padding-left: 60px;
    }
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 80px;
  }
}

.form__input-checkbox:checked + .form__label::after {
  width: 18px;
  height: 14px;

  background-image: url(../img/icons/checkbox.svg);
  background-repeat: no-repeat;
  left: -38px;

  @media (min-width: @tablet-width) {
    left: -48px;
  }
}

.form__footer {
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

.form__help {
  color: @black;
  font-family: @sub-font;
  font-size: 14px;

  text-align: center;

  margin-top: 20px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 80px;
  }
}

/* Chrome, Safari, Edge, Opera */
.form__input--number::-webkit-outer-spin-button,
.form__input--number::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
.form__input--number[type=number] {
  appearance: textfield;
}
