.gifts {
  margin-top: 40px;

  @media (min-width: @tablet-width) {
    margin-top: 70px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
  }
}

.gifts__item {
  padding-bottom: 40px;

  background: url(../img/backgrounds/gift.jpg);
  background-repeat: no-repeat;

  position: relative;

  &::before {
    content: "";

    width: 80px;
    height: 80px;

    background-image: url(../img/icons/gift.svg);
    background-repeat: no-repeat;

    position: absolute;
    top: 58px;
    left: 50%;

    transform: translateX(-50%);
  }

  @media (min-width: @tablet-width) {
    padding: 70px 105px 70px 420px;

    background-image: url(../../img/backgrounds/gift-tablet.jpg);

    &::before {
      top: 50%;
      left: 78px;

      transform: translate(0, -50%);
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    padding-bottom: 40px;

    background-image: url(../img/backgrounds/gift.jpg);

    &::before {
      top: 58px;
      left: 50%;

      transform: translate(-50%, 0);
    }
  }
}

.gifts__title {
  color: @white;
  font-family: @sub-font;
  font-size: 16px;
  line-height: 1.25;

  text-align: center;

  width: 160px;
  margin: 0 auto;
  padding-top: 185px;

  @media (min-width: @tablet-width) {
    text-align: left;
    width: auto;
    margin: 0;
    padding-top: 0;
  }

  @media (min-width: @desktop-width) {
    text-align: center;
    width: 160px;
    margin: 0 auto;
    padding-top: 185px;
  }
}
