.logo {
  transition: 0.2s;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo--header {
  padding-left: 20px;

  @media (min-width: @tablet-width) {
    padding-left: 0;

    img {
      width: 174px;
    }
  }

  @media (min-width: @desktop-width) {
    img {
      width: 202px;
    }
  }
}

.logo--footer {
  text-align: center;
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}
