.programs {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: @white;

  @media (min-width: @tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 80px;
    padding-left: 0;
    padding-right: 0;

    .container {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

.programs__item {
  margin-bottom: 20px;
  padding: 30px 20px 55px;

  background-color: @grey;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";

    width: 50px;
    height: 50px;

    background-color: @green;
    border-radius: 50%;

    position: absolute;
    top: 24px;
    left: 22px;
  }

  &::after {
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
  }

  &--slim::after {
    width: 36px;
    height: 50px;

    background-image: url(../img/icons/cat-slim.svg);
    top: 21px;
    left: 29px;
  }

  &--pro::after {
    width: 67px;
    height: 28px;

    background-image: url(../img/icons/cat-pro.svg);
    top: 35px;
    left: 13px;
  }

  @media (min-width: @tablet-width) {
    padding: 75px 270px 90px 50px;
    min-height: 370px;
    box-sizing: border-box;

    &::before {
      width: 200px;
      height: 200px;

      top: 92px;
      left: auto;
      right: 62px;
    }

    &--padding {
      padding-right: 300px;
    }

    &--slim::after {
      width: 140px;
      height: 192px;

      top: 81px;
      left: auto;
      right: 92px;
    }

    &--pro::after {
      width: 268px;
      height: 112px;

      top: 135px;
      left: auto;
      right: 28px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 570px;

    margin-bottom: 70px;
    padding: 75px 50px 90px;

    &:last-child {
      margin-bottom: 70px;
    }

    &::before {
      width: 100px;
      height: 100px;

      top: 47px;
      left: 50px;
      right: auto;
    }

    &--slim:after {
      width: 70px;
      height: 97px;

      top: 41px;
      left: 65px;
    }

    &--pro:after {
      width: 134px;
      height: 56px;

      top: 67px;
      left: 33px;
    }
  }
}

.programs__item-container {
  padding-bottom: 5px;
  border-bottom: 1px solid @border-color;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.programs__title {
  color: @black;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 400;

  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 30px;
  padding-left: 70px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 1;

    margin-bottom: 24px;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: 160px;
    margin-bottom: 70px;
  }
}

.programs__text {
  font-family: @sub-font;
  margin-top: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.programs__button-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  color: @black;
  font-size: 16px;

  text-decoration: none;
  text-transform: uppercase;

  position: absolute;
  left: 20px;
  bottom: 20px;

  &:hover,
  &:focus {
    .icon-arrow {
      transform: translateX(7px) scaleX(1.35);
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1.5;

    left: 52px;
    bottom: 53px;
  }
}

.icon-arrow {
  margin-left: 15px;
  transition: 0.2s;

  @media (min-width: @tablet-width) {
    margin-left: 25px;
  }
}
