.questionnaire {
  padding-top: 25px;
  padding-bottom: 30px;
}

.questionnaire__preview {
  color: @black;
  padding: 0 20px;
}

.questionnaire__title {
  font-size: 36px;
  line-height: 1;
  font-weight: 400;

  margin-top: 0;
  margin-bottom: 35px;
}

.questionnaire__text {
  text-transform: uppercase;
}
