.slider {
  padding-bottom: 25px;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;

    height: 395px;
    padding-bottom: 65px;
    background-color: @simple-grey;
  }

  @media (min-width: @desktop-width) {
    width: 690px;
    padding-bottom: 0;

    background-color: transparent;
    position: absolute;
    top: 130px;
    right: -40px;
  }
}

.slider__inner {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  height: 250px;

  @media (min-width: @tablet-width) {
    display: block;

    width: 100%;
    height: 620px;

    position: relative;
  }
}

.slider__img {
  display: none;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: -200px;
    left: 50%;

    transform: translateX(-50%);
  }
}

.slider__img--before {
  @media (min-width: @tablet-width) {
    width: 677px;
    height: 520px;
  }
}

.slider__img--after {
  @media (min-width: @tablet-width) {
    width: 545px;
    height: 520px;
  }
}

.slider__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 230px;
  margin: 25px auto 0;

  @media (min-width: @tablet-width) {
    width: 590px;
    margin: 0;

    position: relative;
    z-index: 1;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 22px;
  }
}

.slider__button {
  color: @black;
  font-size: 16px;
  line-height: 1.25;

  text-transform: uppercase;

  border-bottom: 1px solid transparent;
  cursor: pointer;

  transition: 0.2s;

  &:hover,
  &:focus {
    border-color: fade(@black, 40);
  }

  &:active {
    border-color: transparent;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1.5;
  }
}

.slider__range {
  display: flex;

  width: 72px;
  height: 6px;

  padding: 3px 5px;

  background-color: @white;
  border: 1px solid @border-color-secondary;
  border-radius: 6px;

  @media (min-width: @tablet-width) {
    display: block;

    width: 430px;
    padding: 0;
    background-color: #dcdcdc;

    position: relative;
  }
}

.slider__bar {
  width: 35px;
  height: 6px;

  background-color: @green;
  border-radius: 6px;

  @media (min-width: @tablet-width) {
    width: 32px;
    height: 32px;

    background-color: @white;
    border: 1px solid @border-color-secondary;
    border-radius: 50%;

    box-shadow: 0 1px 3px rgba(0,0,0, 0.16);
    cursor: pointer;

    position: absolute;
    top: 50%;
    left: 0;

    transform: translate(-50%, -50%);

    &::before {
      content: "";

      width: 8px;
      height: 8px;

      background-color: @green;
      border-radius: 50%;

      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
    }

    &:hover,
    &:focus {
      box-shadow: 0 2px 4px rgba(0,0,0, 0.19);
    }

    &:active {
      border-color: @green;
      box-shadow: 0 3px 5px rgba(0,0,0, 0.2);
    }
  }
}

.slider__radio-before:checked ~ .slider__inner .slider__img--before {
  display: block;
}
.slider__radio-before:checked ~ .slider__controls .slider__button--before {
  border-bottom: 1px dotted @black;
}
.slider__radio-before:checked ~ .slider__controls .slider__range {
  justify-content: flex-start;
}
.slider__radio-before:checked ~ .slider__controls .slider__bar {
  @media (min-width: @tablet-width) {
    left: 0;
  }
}

.slider__radio-after:checked ~ .slider__inner .slider__img--after {
  display: block;
}
.slider__radio-after:checked ~ .slider__controls .slider__button--after {
  border-bottom: 1px dotted @black;
}
.slider__radio-after:checked ~ .slider__controls .slider__range {
  justify-content: flex-end;
}
.slider__radio-after:checked ~ .slider__controls .slider__bar {
  @media (min-width: @tablet-width) {
    left: 100%;
  }
}
