.social {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 20px;
  padding-bottom: 20px;

  border-top: 1px solid @border-color;
  border-bottom: 1px solid @border-color;

  @media (min-width: @tablet-width) {
    padding: 0;
    border: none;
  }
}

.social__link {
  margin-right: 35px;

  position: relative;

  &:last-child {
    margin-right: 0;
  }

  &::before {
    display: block;
    content: "";

    width: 25px;
    height: 25px;

    background-repeat: no-repeat;
    background-position: center;
  }

  &--vkontakte:before {
    background-image: url(../img/social/vkontakte.svg);
  }

  &--instagram:before {
    background-image: url(../img/social/instagram.svg);
  }

  &--facebook:before {
    background-image: url(../img/social/facebook.svg);
  }

  @media (min-width: @tablet-width) {
    margin-right: 20px;

    &::before {
      width: 30px;
      height: 30px;
    }
  }
}
